@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poppins";
}

:root{
    --icon-bg1 : rgba(240, 246, 253, 1);
    --icon-bg2 : rgba(252, 251, 233, 1);
    --icon-bg-size : 3.5rem;
    --img-size : 12.5vw;
    --img-size-addBy : 1.4
}

.--header{
    font-family: "Montserrat";
}

.--para{
    font-family: "Poppins";
}

.--center {
    display: flex;
    align-items: center;
    justify-content: center;
}